.reviewImg{
    opacity: 0.3;
    top: 15%;
    z-index: -1;
}

/* -------------------------responsive----------------------- */
@media (max-width: 768px){
    .reviewImg{
        top: 35%;
    }
}
/* -------------------------responsive----------------------- */