.formContent{
    position: relative;
}
.formImg{
    max-width: 500px;
    position: absolute;
    top: -155px;
    right: -10%;
    z-index: -1;
    opacity: 0.7;
}

form button{
    background-color: var(--col-red);
    padding: 10px 30px;
    border: none;
}
.iframeSource{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
}
/* -------------------------responsive----------------------- */
@media (max-width: 485px){
    .iframeSource{
        padding-bottom: 35px;
    }  
    .suggestion{
        visibility: hidden;
    } 
}

/* -------------------------responsive----------------------- */