.home::before{
    content: '';
    display: block;
    width: 550px;
    height: 550px;
    background-color: var(--col-red-light);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: -20%;
    top: -15%;
}
.home::after{
    content: '';
    width: 30px;
    height: 30px;
    background-color: var(--col-green);
    position: absolute;
    left: 30%;
    top: 20%;
    animation: rotate 2s infinite ease-in-out;
    z-index: -1;
}
@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}
.homeTitle{
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.25;
    margin-bottom: 5px;
    position: relative;
}
.homeTitle::before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--col-blue);
    position: absolute;
    left: -40px;
    transform: translateX(-50%);
    animation: move 2s infinite ease-in-out;
}
@keyframes move {
    0% {
      bottom: 0;
    }
    50% {
      bottom: 50px;
    }
    100% {
      bottom: 0;
    }
  }
.homeSubstitle{
    margin-bottom: 15px;
    color: var(--col-red);
    font-size: 1.3rem;
    font-weight: 600; 
}
.homeShortDescription{
    max-width: 70%;
    color: #676363;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 25px;
    text-align: justify;
    position: relative;
}
.homeShortDescription::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--col-red);
    right: -130px;
    animation: move 2s infinite ease-in-out;
}
.figMH{
    max-width: 170px;
    position: relative;
    margin: 0 auto;
}
.figMH img{ 
    border-radius: 50%;
    display: block;
    height: auto;
    width: 100%
}
.avilable{
    width: 20px;
    height: 20px;
    background-color: var(--col-green);
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 19px;
    border: 3px solid var(--col-init);
}


/* -------------------------responsive----------------------- */
@media (max-width: 485px){

    .home:before {
        left: -15%;
        top: -5%;
        width: 400px;
        height: 400px;
    }
    .home::after{
        display: none;
    }
    .homeTitle{
        font-size: 2rem;
    }
    .homeTitle::before{
        display: none;
    }
    .homeShortDescription{
        max-width: 100%;
    }
    .homeShortDescription::after{
        display: none;
    }

    
}
/* -------------------------responsive----------------------- */
