.skills-para{
    font-size: 1.2rem;
    width: 90%;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: justify;
}
.skills{
    position: relative;
}
.skills::after{
    content: '';
    display: block;
    width: 400px;
    height: 400px;
    background-color: var(--col-orange);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}
/* -------------------------responsive----------------------- */
@media (max-width: 485px){
    .skills::after{
        display: none;
    }
    
}
/* -------------------------responsive----------------------- */