@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root{
    --col-init: #E9E8E6;
    --col-second:#888888;
    --col-red: #f44336;
    --col-red-light: #f4dcdc;
    --col-dark: #434343;
    --col-dark-light: #747474;
    --col-blue: #47AEFF;
    --col-orange: #FFA76E;
    --col-violet: #E80368;
    --col-yellow: #FFBB2C;
    --col-green: #11DBCF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
}