/* #full,#web,#mobile{
    color: var(--col-red);
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: var(--col-red-light);
    margin: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
#full:hover,#web:hover,#mobile:hover{
    background: var(--col-blue);
    color:  var(--col-blue);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--col-blue);
}
#full::before,#web::before,#mobile::before{
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 5px;
    background: var(--col-red-light);
    z-index: -1;
}

} */

#full,#web,#mobile{
    padding: 10px 20px;
    margin: 10px;
    border: none;
    font-size: 17px;
    color: var(--col-init);
    border-radius: 7px;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}
  
#full,#web,#mobile{
    background: var(--col-blue);
    box-shadow: 0 0 25px var(--col-blue);
}
  
#full:hover,#web:hover,#mobile:hover {
    box-shadow: 0 0 5px var(--col-blue),
                0 0 25px var(--col-blue),
                0 0 50px var(--col-blue),
                0 0 100px var(--col-blue);
}
.animate {
    animation: moveIn 1s ease-out;
}
@keyframes moveIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}